<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap" rel="stylesheet">        <meta charset="utf-8" />
        <title>{{title}}</title>
         <link rel="stylesheet" href="/public/css/main.css" /> 
    </head>
    <body>
        <header>
            {{! make all elements below (except login/logout) float left }}
            {{!-- <img src="/static/MY_WAY_logos/record_w_text.png" alt="My Way Logo With Text" class="topnavLogo" /> --}}
            <ul id="navBar"><a href="/index">Home</a>
            <li><a href="/myprofile"><span class="specialMy">My</span> Profile</a></li>
            <li><a href="/mysongs"><span class="specialMy">My</span> Songs</a></li>
            <li><a href="/myartists"><span class="specialMy">My</span> Artists</a></li>
            <li><a href="/myalbums"><span class="specialMy">My</span> Albums</a></li>
            <li><a href="/mymetrics"><span class="specialMy">My</span> Metrics</a></li>
            <li><a href="/search">Search</a></li>
            {{! make login/logout link float right }}
            <li id=logB ><a href="/loginlogout">Login/Logout</a></li></ul>    

        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>