body {
    background-color: #2c37a1;
}

h1 {
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 80px;
    animation-duration: 2s;
    animation-name: slidein;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

h2 {
    font-family: "Chivo", sans-serif;
    text-align: center;
    color: #ffecba;
    margin-top: 20px;
    padding: 0%;
}

header {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 10px 10px 0px 10px;
    text-align: center;
    overflow: hidden;
    background-color: #646eca;
    display: block;
    padding: 12px;
    color: white;
    list-style-type: none;
    font-weight: 700;
    font-size: 20px;
}

#indexBar {
    padding: 24;
}

li {
    display: inline;
    margin: 24px;
}

a:link {
    text-decoration: none;
    color: white;
    font-family: "Chivo", sans-serif;
}

a:visited {
    text-decoration: none;
    color: white;
    font-family: "Chivo", sans-serif;
}

a:hover {
    text-decoration: none;
    color: #ffce4c;
    font-family: "Chivo", sans-serif;
}

a:active {
    text-decoration: underline;
    color: white;
    font-family: "Chivo", sans-serif;
}

#creators {
    font-style: italic;
}

.specialMy {
    font-style: italic;
}
div {
    font-family: "Mulish", sans-serif;
    color: #ffe08f;
}

.songSpan {
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
}

#slogan,
#listen,
#great,
#groovy,
#pina,
#shuff {
    font-family: "Chivo", sans-serif;
    font-weight: 300;
    text-align: center;
    color: #ffce4c;
    margin-top: 20px;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#pina,
#shuff {
    font-style: italic;
}

.songSpan {
    font-size: 15px;
    color: white;
}

.songTitle {
    font-size: 30px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
    color: #ffe08f;
}

#loginDiv,
#ssFormDiv,
#recSmalLDiv,
#shuffSDiv,
#editSmallDiv,
#editOf {
    padding-top: 30px;
    font-size: 30px;
    color: #2c37a1;
    font-family: "Chivo", sans-serif;
    font-style: italic;
}

#editOf {
    font-style: normal;
    color: #2c37a1;
}

#editName {
    font-style: italic;
}

#newUserClick,
#oldUserClick {
    color: #2c37a1;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

#lbigDiv,
#signDiv,
#searchFormDiv,
#recBigDiv,
#shuffDiv,
#bigEditDiv {
    background-color: #ffecba;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
    border-radius: 25px;
}

#bigEditDiv {
    margin-top: 60px;
    padding: 20px;
    padding-bottom: 45px;
    width: 500px;
    height: 200px;
    margin-bottom: 60px;
    line-height: 40px;
}

#searchFormDiv {
    height: 250px;
    margin-bottom: 50px;
}
#recBigDiv {
    height: 175px;
}

#username,
#password,
#password2,
#searchbox,
#prodYear,
#numRecs,
.ranking,
#tag {
    height: 25px;
    font-family: "Chivo", sans-serif;
    font-style: italic;
    color: #2c37a1;
    border-color: #646eca;
    border-style: solid;
    font-size: 20px;
    text-align: center;
}

#loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

#footLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

.yeLink {
    position: absolute;
    right: -10px;
    bottom: 0;
}

#here {
    color: #2c37a1;
    font-style: italic;
}

#here:hover {
    color: #2c37a1;
    font-weight: 900;
}

#logButt,
#subButt,
#submitRank,
#submitSearch,
#submitRecs,
#submit {
    font-family: "Chivo", sans-serif;
    font-style: italic;
    background-color: #2c37a1;
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
}

#signDiv {
    padding-bottom: 70px;
}

#sad {
    font-size: 150px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
}

#whoops {
    text-align: center;
    color: white;
    font-family: "Chivo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    margin: 0px;
}

#belowWhoops {
    text-align: center;
    color: #ffce4c;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

#error {
    color: #2c37a1;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 5px;
}

#profHello {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: "Chivo", sans-serif;
    color: #ffe08f;
    font-weight: 300;
}

.profButts,
.seaButt {
    text-align: center;
    margin: 0px 40px 40px 40px;
    background-color: #2c37a1;
    border-style: none;
    padding: 40px 60px 40px 60px;
    font-size: 40px;
    color: #ffecba;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
}

.profButts:hover,
.seaButt:hover {
    color: #e9b425;
}

#profDiv,
#searchDiv {
    text-align: center;
}

.songName {
    color: #ffecba;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

.artistName {
    color: #e9b425;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.proRecs {
    text-align: center;
    font-size: 35px;
}

#songBigDiv {
    text-align: center;
}

#songT {
    font-size: 30px;
    color: #ffecba;
    font-family: "Mulish", sans-serif;
}

.likeDislike,
#sorry {
    font-size: 40px;
    margin: 30px 0px 30px 0px;
    color: #ffd76b;
}

.remove,
.removeForm {
    background-color: transparent;
    border-style: none;
    color: white;
}

#artInfoDiv {
    text-align: center;
    background-color: #4650b2;
    width: 75%;
    margin: auto;
    line-height: 60px;
    font-size: 20px;
}

#addArtist {
    text-align: center;
    background-color: transparent;
    border-style: none;
    color: white;
    font-family: "Chivo", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#addArtist:hover {
    color: #ffce4c;
    font-style: italic;
}

#addArtDiv {
    text-align: center;
}

/* #recList {
    background-color: transparent;
} */

.remove {
    font-size: 35px;
}
#searchRes,
#shuffResDiv,
#recInfoDiv {
    text-align: center;
    font-size: 30px;

    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch; */
    margin: 20px;
}
#recInfoDiv,
#recList {
    color: #ffecba;
    background-color: transparent;
    font-family: "Chivo", sans-serif;
}

#recHiddenErr,
#recList {
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.spacing {
    padding: 20px;
}

#metDiv {
    padding: 30px;
    background-color: #e9b425;
}

#piechart1,
#piechart2 {
    width: 100%;
    height: 300px;
}
