body {
    background-color: #2c37a1;
}

h1 {
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 80px;
    animation-duration: 2s;
    animation-name: slidein;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

h2 {
    font-family: "Chivo", sans-serif;
    text-align: center;
    color: #ffecba;
    margin-top: 0px;
    padding: 0%;
}

header {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #646eca;
    display: block;
    padding: 12px;
    color: white;
    list-style-type: none;
    font-weight: 700;
    font-size: 20px;
}

#indexBar {
    padding: 24;
}

li {
    display: inline;
    margin: 24px;
}

a:link {
    text-decoration: none;
    color: white;
    font-family: "Chivo", sans-serif;
}

a:visited {
    text-decoration: none;
    color: white;
    font-family: "Chivo", sans-serif;
}

a:hover {
    text-decoration: none;
    color: #ffecba;
    font-family: "Chivo", sans-serif;
}

a:active {
    text-decoration: underline;
    color: white;
    font-family: "Chivo", sans-serif;
}

#creators {
    font-style: italic;
}

.specialMy {
    font-style: italic;
}
div {
    font-family: "Mulish", sans-serif;
    color: #ffe08f;
}

#songSpan {
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
}

#slogan {
    font-family: "Chivo", sans-serif;
    font-weight: 300;
    text-align: center;
    color: #ffce4c;
    margin-top: 20px;
}

#slogan {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#songSpan {
    font-size: 15px;
    color: white;
}

#songTitle {
    font-size: 30px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
    color: #ffe08f;
}

#loginDiv {
    padding-top: 30px;
    font-size: 30px;
    color: #2c37a1;
    font-family: "Chivo", sans-serif;
    font-style: italic;
}

#newUserClick,
#oldUserClick {
    color: #646eca;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#lbigDiv,
#signDiv {
    background-color: #ffecba;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
    border-radius: 25px;
}

#username,
#password,
#password2 {
    height: 25px;
    font-family: "Chivo", sans-serif;
    font-style: italic;
    color: #2c37a1;
    border-color: #646eca;
    border-style: solid;
    font-size: 20px;
}

#loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

.yelink {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
}

#here {
    color: #646eca;
    font-style: italic;
}

#here:hover {
    color: #2c37a1;
}

#logButt,
#subButt {
    font-family: "Chivo", sans-serif;
    font-style: italic;
    background-color: #2c37a1;
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
}

#signDiv {
    padding-bottom: 70px;
}

#sad {
    font-size: 200px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
}

#whoops {
    text-align: center;
    color: white;
    font-family: "Chivo", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    margin: 0px;
}

#belowWhoops {
    text-align: center;
    color: #ffce4c;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 30px;
}
