<h1>Choose what you want to search for</h1>

{{! make coursor pointer for these buttons and style the buttons (make em big and fancy and whatnot) }}
<a href="/search/songs"><button>Songs</button></a>
<a href="/search/artists"><button>Artists</button></a>
<a href="/search/albums"><button>Albums</button></a>