<h1>Choose what you want to search for</h1>

{{! make coursor pointer for these buttons }}
<a href="/searchforsongs"><button>Songs</button></a>
<a href="/searchforartists"><button>Artists</button></a>
<a href="/searchforalbums"><button>Albums</button></a>

{{! <form>
    <input type="radio" id="songs" name="searchFor" value="songs" />
    <label for="songs">Songs</label><br />
    <input type="radio" id="artists" name="searchFor" value="artists" />
    <label for="artists">Artists</label><br />
    <input type="radio" id="albums" name="searchFor" value="albums" />
    <label for="albums">Albums</label>
    <button type="submit" name="submit">Search</button>
</form> }}