<h1>What Would You Like?</h1>
<h2 id="pina">If You Like Piña Coladas, Getting Caught In The Rain</h2>
{{! make coursor pointer for these buttons and style the buttons (make em big and fancy and whatnot) }}
<div id="searchDiv"><a href="/search/songs"><button id="seaButt">Songs</button></a>
    <a href="/search/artists"><button id="seaButt">Artists</button></a>
    <a href="/search/albums"><button id="seaButt">Albums</button></a></div>