<h1>Choose what you want to search for</h1>

{{! make coursor pointer for these buttons and style the buttons (make em big and fancy and whatnot) }}
<a href="/searchforsongs"><button>Songs</button></a>
<a href="/searchforartists"><button>Artists</button></a>
<a href="/searchforalbums"><button>Albums</button></a>