<h1>What Would You Like?</h1>
<h2 id="pina">If You Like Piña Coladas, Getting Caught In The Rain</h2>
{{! make coursor pointer for these buttons and style the buttons (make em big and fancy and whatnot) }}
<div id="searchDiv"><a href="/search/songs" class="seaButt">Songs</a>
    <a href="/search/artists" class="seaButt">Artists</a>
    <a href="/search/albums" class="seaButt">Albums</a></div>