<h1>{{albumName}} by {{artistName}}</h1>

{{! ADD FORM ACTION }}
<form>
    <label>Edit your ranking of {{albumName}}</label>
    <label><input type="number" id="ranking" name="ranking" min="0" max="10" step="1" required />/10</label>
    <button type="submit" id="submit" name="submit">Submit</button>
</form>