<h1><span class="specialMy">My</span> Way</h1>
<h2 id="slogan">Your Music. Your Way.</h2>
<div>
    <h2>What would you like to do?</h2>
    <ul id:"indexBar"><li><a href="/myprofile"><span class="specialMy">My</span> Profile</a></li>
        <li><a href="/mysongs"><span class="specialMy">My</span> Songs</a></li>
        <li><a href="/myartists"><span class="specialMy">My</span> Artists</a></li>
        <li><a href="/myalbums"><span class="specialMy">My</span> Albums</a></li>
        <li><a href="/mymetrics"><span class="specialMy">My</span> Metrics</a></li>
        <li><a href="/search">Search</a></li></ul>
</div>
    <h2>Creators' Picks</h2>

<div class="flex-container">
    <div class="flex-child mark">
        {{! these elements side by side }}
        <img class="creatPic" src="/public/creator_recc_imgs/igor.jpg" alt="IGOR by Tyler, The Creator" height=300px width=300px />
        <p>
            {{! bold this please }}
            <span id="songSpan"><span id=myCreators>My</span> Album</span>
            <br />
            <span id=songTitle>IGOR</span>
            <br />
            Tyler, The Creator
        </p>
    </div>
    <div class="flex-child bri">
        {{! these elements side by side }}
        <img class="creatPic" src="/public/creator_recc_imgs/havemercy.png" alt="Have Mercy by Chlöe" height=300px width=300px />
        <p>
            {{! bold this please }}
            <span id="songSpan"><span id=myCreators>My</span> Song</span>
            <br />
            <span id=songTitle>Have Mercy</span>
            <br />
            Chlöe
        </p>
    </div>
    <div class="flex-child walker">
        {{! these elements side by side }}
        <img class="creatPic" src="/public/creator_recc_imgs/wakeoftheflood.jpg" alt="Wake of the Flood by The Grateful Dead" height=300px width=300px />
        <p>
            {{! bold this please }}
            <span id="songSpan"><span id=myCreators>My</span> Song</span>
            <br />
            <span id=songTitle>Eyes of the World</span>
            <br />
            The Grateful Dead
        </p>
    </div>
    <div class="flex-child zane">
        {{! these elements side by side }}
        <img class="creatPic" src="/public/creator_recc_imgs/renegade.jpg" alt="Renegade by Styx" height=300px width=300px/>
        <p>
            {{! bold this please }}
            <span id="songSpan"><span id=myCreators>My</span> Song</span>
            <br />
            <span id=songTitle>Renegade</span>
            
            <br />
            Styx
        </p>
    </div>
</div>