<h1>Welcome to <span class="specialMy">My</span> Way!</h1>

<h2>What would you like to do?</h2>

<div>
    <a href="/myprofile"><span class="specialMy">My</span> Profile</a>
    <a href="/mysongs"><span class="specialMy">My</span> Songs</a>
    <a href="/myartists"><span class="specialMy">My</span> Artists</a>
    <a href="/myalbums"><span class="specialMy">My</span> Albums</a>
    <a href="/mymetrics"><span class="specialMy">My</span> Metrics</a>
    <a href="/chooseWhatToSearch">Search</a>
</div>