<h1>Welcome to <span class="specialMy">My</span> Way!</h1>

<h2>What would you like to do?</h2>

<div>
    <a href="/mysongs"><button><span class="specialMy">My</span> Songs</button></a>
    <a href="/myartists"><button><span class="specialMy">My</span> Artists</button></a>
    <a href="/myalbums"><button><span class="specialMy">My</span> Albums</button></a>
    <a href="/mymetrics"><button><span class="specialMy">My</span> Metrics</button></a>
    <a href="/chooseWhatToSearch"><button>Search</button></a>
</div>