<h1>Welcome to <span class="specialMy">My</span> Way!</h1>

<div>
    <h2>What would you like to do?</h2>
    <div>
        <a href="/myprofile"><span class="specialMy">My</span> Profile</a>
        <a href="/mysongs"><span class="specialMy">My</span> Songs</a>
        <a href="/myartists"><span class="specialMy">My</span> Artists</a>
        <a href="/myalbums"><span class="specialMy">My</span> Albums</a>
        <a href="/mymetrics"><span class="specialMy">My</span> Metrics</a>
        <a href="/chooseWhatToSearch">Search</a>
    </div>
</div>

<div class="creatorRecc">
    <h2>Here's some stuff the creators of My Way reccomend!</h2>
    <div>
        {{! these elements side by side }}
        <img src="/static/creator_recc_imgs/igor.jpg" />
        <p>
            {{! bold this please }}
            <span class="bold">Album</span>
            <br />
            IGOR
            <br />
            Tyler, The Creator
        </p>
    </div>
    <div>
        {{! these elements side by side }}
        <img src="/static/creator_recc_imgs/havemercy.png" />
        <p>
            {{! bold this please }}
            <span class="bold">Song</span>
            <br />
            Have Mercy
            <br />
            Chlöe
        </p>
    </div>
    <div>
        {{! these elements side by side }}
        <img src="/static/creator_recc_imgs/wakeoftheflood.jpg" />
        <p>
            {{! bold this please }}
            <span class="bold">Song</span>
            <br />
            Eyes of the World
            <br />
            The Grateful Dead
        </p>
    </div>
    <div>
        {{! these elements side by side }}
        <img src="/static/creator_recc_imgs/renegade.jpg" />
        <p>
            {{! bold this please }}
            <span class="bold">Song</span>
            <br />
            Renegade
            <br />
            Styx
        </p>
    </div>
</div>