<h1>Welcome to <span class="specialMy">My</span> Way!</h1>

<h2>What would you like to do?</h2>

<div>

    <ul id="indexBar"><li><a href="/myprofile"><span class="specialMy">My</span> Profile</a></li>
        <li> <a href="/mysongs"><span class="specialMy">My</span> Songs</a></li>
        <li>
            <a href="/myartists"><span class="specialMy">My</span> Artists</a>
        </li>
        <li>
            <a href="/myalbums"><span class="specialMy">My</span> Albums</a>
        </li>
        <li>
            <a href="/mymetrics"><span class="specialMy">My</span> Metrics</a>
        </li>
        <li>
            <a href="/chooseWhatToSearch">Search</a>
        </li>
    </ul>
</div>