<h1>Login to <span class="specialMy">My</span> Way</h1>
{{! ADD FORM ACTION }}
<form class = "loginFomr" action = "/loginlogout" id = 'login-form' method = "POST">
    <label>
        Username:
        <input type="text" name="username" />
    </label>
    <label>
        Password:
        <input type="text" name="password" />
    </label>
    <button type="submit">Login!</button>
</form>

<h2>{{errorStr}}</h2>