<h1>Login to My Way</h1>
<form class="loginForm">
    <label>
        Username:
        <input type="text" name="username" />
    </label>
    <label>
        Password:
        <input type="text" name="password" />
    </label>
    <button type="submit">Login!</button>
</form>