{{! if you make these big enough you can see the percentages. by default they are too small to see all the percentages. }}
<div id="metrics"><div id="piechart1" class="piechart"></div>
    <div id="piechart2" class="piechart"></div>

    <span id="liked" hidden>{{likedData}}</span>
    <span id="disliked" hidden>{{dislikedData}}</span></div>