<h1><span class="specialMy">My</span> Profile</h1>
<h2 id="listen">Let's Listen</h2>
<p id="profHello">Hello {{username}}!</p>

<div id="profDiv">
    <a href="/mysongs"><button id="profButts"><span class="specialMy">My</span> Songs</button></a>
    <a href="/myartists"><button id="profButts"><span class="specialMy">My</span> Artists</button></a>
    <a href="/myalbums"><button id="profButts"><span class="specialMy">My</span> Albums</button></a>
    <a href="/mymetrics"><button id="profButts"><span class="specialMy">My</span> Metrics</button></a>
    <a href="/shuffle"><button id="profButts">Shuffle</button></a>
    <a href="/search"><button id="profButts">Search</button></a>
</div>

{{#if weeklyRec}}
    <h2>Here's your weekly recommended artists!</h2>
{{/if}}

{{#each weeklyRec}}
    <div>
        <span>{{this.artistName}}</span>
    </div>
{{/each}}