<h1><span class="specialMy">My</span> Profile</h1>
<h2 id="pina">Let's Listen</h2>
<p id="profHello">Hello {{username}}!</p>

<div id="profDiv">
    <a href="/mysongs" class="profButts"><span class="specialMy">My</span> Songs</a>
    <a href="/myartists" class="profButts"><span class="specialMy">My</span> Artists</a>
    <a href="/myalbums" class="profButts"><span class="specialMy">My</span> Albums</a>
    <a href="/mymetrics" class="profButts"><span class="specialMy">My</span> Metrics</a>
    <a href="/shuffle" class="profButts">Shuffle</a>
    <a href="/search" class="profButts">Search</a>
</div>

{{#if weeklyRec}}
    <h2>Here's your weekly recommended artists!</h2>
{{/if}}

{{#each weeklyRec}}
    <div>
        <span>{{this.artistName}}</span>
    </div>
{{/each}}