<h1>My Profile</h1>

<p>Hello {{username}}!</p>

<div>
    <a href="/chooseWhatToSearch"><button>Search For Something</button></a>
    <a href="/mysongs"><button>My Songs</button></a>
    <a href="/myartists"><button>My Artists</button></a>
    <a href="/myalbums"><button>My Albums</button></a>
    <a href="/mymetrics"><button>My Metrics</button></a>
</div>