<h1>Shuffle</h1>

<p>Choose from the options below and find a song or artist you may not have heard from before.</p>

{{! ADD FORM ACTION }}
<form id = "shuffleForm" action = "/shuffle" method = "POST">
    <label for="songOrArtist">Song or Artist?</label>
    <select id="songOrArtist" name="songOrArtist" onchange="selectValue">
        <option value="song" id = "song" name = "song">Song</option>
        <option value="artist" id = "artist" name = "artist">Artist</option>
    </select>
    <label for="tag">Tag</label>
    <input type="text" name="tag" id="tag" />
    <label for="submit">Shuffle!</label>
    <input type="submit" name="submit" id="submit" />
</form>

{{#if shuffleResults}}
    {{#if song}}
        <h2>Your shuffled song:</h2>
        <p>{{shuffleResults.name}}</p>
        <p>by</p>
        <p>{{shuffleResults.artist}}</p>
    {{/if}}
    {{#if artist}}
        <h2>Your shuffled artist:</h2>
        <p>{{shuffleResults.name}}</p>
    {{/if}}
{{/if}}

{{#if error}}
<h2>Bad shuffle! Try again.</h2>
{{/if}}