<h1>Shuffle</h1>
<h2 id="shuff">Shall We Shuffle?</h2>
<h2>Need something new? Click whatever you'd like.</h2>

{{! ADD FORM ACTION }}
<div id="shuffDiv"><div id="shuffSDiv"><form id="shuffleForm" action="/shuffle" method="POST">
            <label for="songOrArtist">Song or Artist?</label><br />
            <div class="custom-select"><select id="songOrArtist" name="songOrArtist" onchange="selectValue">
                    <option value="song" id="song" name="song">Song</option>
                    <option value="artist" id="artist" name="artist">Artist</option>
                </select><br /></div>

            <label for="tag">Genre</label>
            <br />
            <input type="text" name="tag" id="tag" /><br />
            <label for="submit">Shuffle!</label><br />
            <input type="submit" name="submit" id="submit" />
        </form></div></div>

<div id="shuffResDiv">{{#if shuffleResults}}
        {{#if song}}
            <h2>Your shuffled song:</h2>
            <p>{{shuffleResults.name}}</p>
            <p>by</p>
            <p>{{shuffleResults.artist}}</p>
        {{/if}}
        {{#if artist}}
            <h2>Your shuffled artist:</h2>
            <p>{{shuffleResults.name}}</p>
        {{/if}}
    {{/if}}

    {{#if error}}
        <h2>Bad shuffle! Try again.</h2>
    {{/if}}</div>