<h1>Shuffle</h1>

<p>Choose from the options below and find a song or artist you may not have heard from before.</p>

{{! ADD FORM ACTION }}
<form id = "shuffleForm" action = "/shuffle" method = "POST">
    <label for="songOrArtist">Song or Artist?</label>
    <select id="songOrArtist" name="songOrArtist" onchange="selectValue">
        <option value="song" id = "song">Song</option>
        <option value="artist" id = "artist">Artist</option>
    </select>
    <label for="tag">Tag</label>
    <input type="text" name="tag" id="tag" />
</form>

{{!-- {{#if shuffleResult}}
    {{#if shuffleResult.song}}
        <h3>Your shuffled song:</h3>
        <p>{{shuffleResult.songName}}</p>
        <p>by</p>
        <p>{{shuffleResult.artistName}}</p>
    {{/if}}
    {{#if shuffleResult.artist}}
        <h3>Your shuffled artist:</h3>
        <p>{{shuffleResult.artistName}}</p>
    {{/if}}
{{/if}} --}}
<script src="/public/js/shuffleScript.js"></script>