<h1>Sign Up For My Way</h1>
<form class="signupForm">
    <label>
        Username:
        <input type="text" name="username" />
    </label>
    <label>
        Password:
        <input type="text" name="password" />
    </label>
    <label>
        Retype Password:
        <input type="text" name="password2" />
    </label>
    <button type="submit">Sign Up!</button>
</form>